/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
    --main-color: #C52534;
    --text-color: #504C4C;
    --black-color: #000000;
    --yellow-color: #F3AF00;
    --bluedark-color: #303249; 
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 17px;
    color:var(--text-color);
  }

  /*Titles*/
.title-page{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 55px;
    color:var(--black-color);
}
.text-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 32px;
    color:var(--text-color);
}
.text-sections{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 39px;
    color:var(--main-color);
}
.text-p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 17px;
    color:var(--text-color);
}
.cta-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}
.section-container{
    width: 80%;
    height: auto;
    padding: 0 1rem;
}

/*Box Context*/
.box-header{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 1.5rem;
    background: #F3AF00;
    border-radius: 8px;
    width: 30rem;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 28px;
    color: #FFFFFF;
}
.box-header-link{
    font-size: 1rem;
    text-align: right;
    text-decoration-line: none;
    color: #0F6AFF;
    cursor: pointer;
}
.box-header-link:hover{
    text-decoration-line: underline;
    color: #003fa3;
}
.box-header-dates{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #303249;
    border-top: #303249 solid 1px ;
    padding-top: 1rem;
}
.box-dates{
    display: flex;
    justify-content: space-between;

}

/*Spaces*/

.mb-140{
    margin-bottom: 8.75rem;
}
.mt-64{
    margin-top: 4rem;
}
.mt-16{
    margin-top: 1rem;
}
.p-16{
    padding: 1rem;
}

/*Font format*/
.font-m-p{
    margin: 0;
    padding: 0;
}

/**/
.image-pages{
    z-index: 0;
    max-width:-webkit-fill-available;
    width: 100%;
    padding-left: 10rem;
    padding-top: 4rem;
    margin: 0 5rem 0 0;
    overflow: auto;
    border-radius: 1rem;
}
.volver{
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    align-items: baseline;
    padding: 0.5rem 9rem;
    gap: 4rem;
}
.btn-volver{
    background-color: #FFFFFF;
    border: #C52534 solid 1px;
    color: var(--main-color);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.btn-volver:hover{
    background: #FF97A1;
    border: #C52534 solid 1px;
    color: var(--main-color);
}