.containerfcv-profile{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 4rem 9rem;
    gap: 4rem;
    background-color: var(--yellow-color);
}
.card-profile{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap:2rem;
}
.profile-home{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 275px;
    color: #ffffff!important;
    background-color: var(--bluedark-color)!important;
}
.title-profile{
    color: var(--bluedark-color);
    text-align: left;
    width: 100%;
}
.cta-footer{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: baseline;
    padding: 6rem 9rem;
    gap: 4rem;
    background-color: var(--bluedark-color);
    color: #ffffff;
}
.cta-btn{
    color: #ffffff;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    width: auto;
    height:auto;
    padding: 1.5rem 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    transition: color 100ms;
    vertical-align: baseline;
}
.cta-btn:hover, .cta-btn:focus {
  background-color: var(--black-color);
}

.cta-btn-small{
    color: #ffffff;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    width: auto;
    height:auto;
    padding: 1rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    transition: color 100ms;
    vertical-align: baseline;
}
.cta-btn-small:hover, .cta-btn-small:focus {
    background-color: var(--black-color);
  }

  /*Responsive width 500 px---------------------------------------*/

@media only screen and (max-width: 500px) {
    .containerfcv-profile{
        display: flex;
        flex-direction: column; 
        flex-wrap: wrap;
        padding: 2rem 1rem;
        gap: 2rem;
    }
    .card-profile{
        display: flex;
        flex-direction: column;
    }
    .profile-home{
        display: flex;
        width: 100%;
    }
    .title-profile{
        text-align: center;
    }
}