.descargar{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: baseline;
    gap: 4rem;
}
.btn-descargar{
    background-color: #128100;
    border: #128100 solid 1px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.btn-descargar:hover{
    background: #333333;
    border: #333333 solid 1px;
    color: #FFFFFF;
}
.table{
    border: 1px solid #4E4E4F;
    border-radius: 4px;
}
.css-1ex1afd-MuiTableCell-root{
    background-color: var(--bluedark-color);
    color: #FFFFFF!important;
}