.descargar{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: baseline;
    gap: 4rem;
}
.btn-descargar{
    background-color: #128100;
    border: #128100 solid 1px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.btn-descargar:hover{
    background: #333333;
    border: #333333 solid 1px;
    color: #FFFFFF;
}
.table{
    border: 1px solid #4E4E4F;
    border-radius: 4px;
    width: 100%;
}
.header-table{
    color: #ffffff;
    background-color: var(--bluedark-color);
}

/*Responsive width 500 px---------------------------------------*/

@media only screen and (max-width: 500px) {
    .volver{
        align-items: center;
    }
    .btn-descargar{
        font-size: 14px;
        font-weight: 500;
        padding: 0.5rem 1rem;
    }
}